.git
.github
node_modules
tests

docker-compose.yml
#.env
storage/logs
/vendor
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.env

.gitignore
README.md
